                                        #back {
                                            background-image: url(img/DSC08858.png);
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            object-fit: cover;
                                            width: 100%;
                                            color: #fff;
                                        }
                                        
                                        .acercademi {
                                            display: flex;
                                            flex-flow: column;
                                            margin: 150px 5px 15px 20px;
                                            justify-content: center;
                                        }
                                        
                                        .tittle {
                                            width: 40%;
                                            color: #fff;
                                            font-size: 12px;
                                        }
                                        
                                        .tittle h2 {
                                            margin-bottom: 15px;
                                        }
                                        
                                        .tittle hr {
                                            color: #fff;
                                        }
                                        
                                        .tittle span {
                                            font-size: 60px;
                                        }
                                        
                                        .text {
                                            color: #fff;
                                            width: 65%;
                                            font-size: 18px;
                                        }
                                        
                                        .btn-style {
                                            box-shadow: 0px 10px 14px -7px #b54b3a;
                                            background: linear-gradient(to bottom, #a73f2d 5%, #b34332 100%);
                                            background-color: #a73f2d;
                                            border-radius: 8px;
                                            display: inline-block;
                                            cursor: pointer;
                                            color: #ffffff;
                                            font-family: Arial;
                                            font-size: 16px;
                                            font-weight: bold;
                                            padding: 5px 20px;
                                            text-decoration: none;
                                            text-shadow: 0px 1px 0px #7a2a1d;
                                        }
                                        
                                        .btn-style:hover {
                                            background: linear-gradient(to bottom, #b34332 5%, #a73f2d 100%);
                                            background-color: #b34332;
                                        }
                                        
                                        .btn-style:active {
                                            position: relative;
                                            top: 1px;
                                        }
                                        
                                        #logo-web {
                                            display: none !important;
                                        }
                                        
                                        #logo-mbl {
                                            display: block !important;
                                        }
                                        
                                        @media only screen and (max-width:1400px) {
                                            #logo-web {
                                                display: none !important;
                                            }
                                            #logo-mbl {
                                                display: block !important;
                                            }
                                        }
                                        
                                        @media only screen and (max-width:1030px) {
                                            .menu-icon i {
                                                color: #333 !important;
                                            }
                                        }
                                        
                                        @media only screen and (max-width:850px) {
                                            .menu-icon i {
                                                color: #fff !important;
                                            }
                                            #logo-web {
                                                display: none;
                                            }
                                            #logo-mbl {
                                                display: block;
                                            }
                                            .tittle span {
                                                font-size: 45px;
                                                color: #fff;
                                            }
                                            .tittle h2 {
                                                font-size: 16px;
                                                color: #fff;
                                            }
                                            .text {
                                                width: 90%;
                                                text-align: center;
                                                color: #fff;
                                                margin: 0 auto;
                                            }
                                            .btn-box {
                                                margin: 0 auto;
                                            }
                                            #back {
                                                background-image: url("img/fondombl.jpg");
                                                width: 100%;
                                            }
                                            .acercademi {
                                                margin: 147px 0px 0px 8px;
                                            }
                                            .tittle {
                                                width: 98%;
                                                color: #fff;
                                                font-size: 12px;
                                                text-align: center;
                                            }
                                        }
                                        
                                        @media only screen and(max-width:700px) {
                                            #logo-web {
                                                display: none;
                                            }
                                            #logo-mbl {
                                                display: block;
                                            }
                                            #inicio {
                                                background-image: url("img/fondombl.jpg");
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                            }
                                            .menu-icon i {
                                                color: #fff;
                                            }
                                        }
                                        
                                        @media only screen and (max-width:450px) {
                                            #logo-web {
                                                display: none;
                                            }
                                            #logo-mbl {
                                                display: block;
                                            }
                                        }
                                        
                                        @media screen and (max-width:430px) {
                                            .logo {
                                                width: 80%;
                                            }
                                            .logo img {
                                                width: 90%;
                                            }
                                            #logo-web {
                                                display: none;
                                            }
                                            #logo-mbl {
                                                display: block;
                                            }
                                        }
                                        
                                        @media only screen and (max-width:380px) {
                                            .logo {
                                                width: 80%;
                                            }
                                            .logo img {
                                                width: 90%;
                                            }
                                            #logo-web {
                                                display: none;
                                            }
                                            #logo-mbl {
                                                display: block;
                                            }
                                        }