             .main {
                 height: 100%;
             }
            
            html {
                height: 100%;
                margin: 0;
                padding: 0;
            }
             body {
                width: 100%;
                height: 100%;
                background: rgb(51, 51, 51);
                background: linear-gradient(90deg, rgba(51, 51, 51, 1) 0%, rgba(133, 133, 133, 0.5774510487788865) 0%, rgba(51, 51, 51, 1) 100%);
                z-index: 0;
                 font-family: Georgia, 'Times New Roman', Times, serif;
                 color: #fff;
                 font-size: 0;
                 line-height: 0;
                 margin: 0;
                 padding: 0;
             }
             
             .fondo-inicio {
                height: 100%;
             }
             
             .fondo-inicio img {
                height: 100%;
             }

             .texto-presentacion {
                 font-size: 1.2rem;
                 line-height: 2em;
             }
             
             nav {
                 font-family: raleway;
                 opacity: 1;
                 width: 100%;
                 height: 12vh;
                 display: flex;
                 justify-content: space-between;
                 align-content: center;
                 position: fixed;
                 top: 0;
                 transition: top 0.5s;
                 z-index: 1000;
             }
             
             header {
                 z-index: 1000;
             }
             
             .navegacion {
                 width: 50%;
                 display: flex;
                 justify-content: end;
                 align-items: center;
                 margin-right: 25px;
             }
             
             .navegacion>a {
                 display: inline-block;
                 text-decoration: none;
                 color: #fff;
                 padding: 30px;
             }
             
             .navegacion>a:hover {
                 background: #fff;
                 color: #333;
                 border-radius: 10px;
                 transition: all 1s ease;
                 height: 15px;
             }
             
             .logo-fotos {
                 margin: 10px;
                 width: 50%;
                 max-width: 600px;
                 min-width: 400px;
             }
             
             .logo-fotos>img {
                 width: 45%;
                 vertical-align: top;
                 margin: 5px;
                 margin-left: 25px
             }
             
             .box-index {
                 width: 100%;
                 height: 100%;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 font-family: raleway;
             }