body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    padding-bottom: 90px;
    background-image: url("img/.png");
    background-repeat: repeat;
    background-size: cover;
}

#cambios-index {
    display: flex;
    width: 100%;
}

#inicio {
    background-image: url("img/back-com-inicio.webp");
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    line-height: 1.3em;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.texto-presentacion {
    width: 95%;
    height: 63vh;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    color: #fff;
    font-family: 'Oleo Script Swash Caps', light;
    margin-top: 100px;
}

.texto-presentacion h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 75px;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-content: center;
}

.header {
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    font-family: raleway;
}

.header ul li a {
    color: #fff;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.4em;
}

.logo img {
    margin-top: 10px;
    margin-left: 0;
    width: 45%;
}

.gif {
    width: 40%;
}

.menu-icon {
    display: none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: #4a4a4a;
    color: white;
}

@media only screen and (max-width:1030px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.4rem 1rem;
    }
    .menu-icon:hover {
        background: #4a4a4a;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .navigation ul li a:hover {
        background: #4a4a4a;
    }
}

@media only screen and (max-width:450px) {
    .texto-presentacion {
        width: 100%;
        height: 63vh;
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: center;
        color: #fff;
        font-family: 'Oleo Script Swash Caps', light;
        margin-top: 100px;
        margin: 15px;
    }
    #inico {
        background-image: url("img/fondoweb.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}