#trabajos {
    background-image: url("img/fondoweb.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.navegacion>a {
    color: #333;
}

.navegacion>a:hover {
    background: #333;
    color: #fff;
}

.sidenav-pc {
    width: 95%;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 13px;
    overflow-x: hidden;
    padding: 12px 0;
    font-family: raleway;
    display: flex;
    justify-content: space-between;
}

.sidenav-pc {
    color: #4a4a4a;
}

.sidenav-pc a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(53, 53, 53);
    display: block;
}

.sidenav-pc a:hover {
    color: #064579;
}

.main h2 {
    font-family: raleway;
    font-size: 28px;
}

.main p {
    font-family: raleway;
    font-size: 24px;
}

.archivo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    margin: 0 auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.archivo>a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    width: 90%;
    margin: 0 auto;
}

.archivo img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
}

.archivo a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    max-width: 80vw;
    max-height: 80vh;
    min-width: 50vw;
    min-height: 50vh;
    object-fit: contain;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851985;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background: #851985;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
}

.galeria {
    font-family: 'open sans';
}

.galeria h1 {
    text-align: center;
    font-weight: 300;
}

.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea {
    border-top: 5px solid #0077c0;
    margin-bottom: 40px;
}

.contenedor-imagenes {
    width: 100%;
    height: 63vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
}

.contenedor-imagenes .imagen {
    position: relative;
    height: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.781);
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.overlay h2 {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 15%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}

.texto {
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.video {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
}

.contenedor-video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 96%;
    grid-gap: 10px;
}

.contenedor-video>a {
    width: 90%;
    height: 400px;
}