.main {
    padding-top: 9rem !important;
    text-align: center;
}

.contenedor-imagenes {
    margin-bottom: 35px;
}

.contenedor-botones:hover {
    background: #333;
    cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
    background: rgba(94, 125227, .9);
}

.contenedor-imagenes .contenedor {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.contenedor img {
    width: 50%;
    height: 50%;
}

button {
    border: none;
    background-color: #f8f8f8;
}

.contenedor-imagenes .contenedor .efecto {
    box-shadow: none;
}

.galeria {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

.efecto {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.efecto.active {
    visibility: visible;
}

.popup {
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    font-family: 'montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: 1s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup img {
    margin-bottom: 10px;
    opacity: 0;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
    cursor: pointer;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 26px;
    font-weight: 600px;
    margin-bottom: 10px;
    opacity: 0;
}

.popup.active {
    opacity: 1;
    transform: scale(1);
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active img {
    animation: entradaImagen .8s ease .5s forwards;
}

@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaImagen {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}