.sidenav-pc {
    flex-flow: column !important;
}

.sidenav-pc {
    width: 10% !important;
}

.sidenav-mbl {
    margin-top: 120px;
}

#logo-web {
    display: block;
}

#logo-mbl {
    display: none;
}